*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

:root {
    --main-color : #fff,
    --btn: #dfdfdf;
    --btn-hover: #121212
}

body{
    background-image: url("./img/aurora.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
    height: 100vh;
    width: 100vw;
}

.mainsection{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    /* align-items: center; */
}


.maindiv{
    /* display: grid; */
    /* align-items: center; */
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    padding:0 20% 0 20%;
    text-align: center;
    /* align-self: center; */
    justify-items: center;
    /* grid-template-rows: 0.3fr 0.2fr 0.2fr 0.2fr 0.1fr 0.3fr; */
}


.maindiv img{
    /* align-self: self-start; */
    margin-top: 15% ;
}
.maindiv h1{
    /* align-self:flex-start; */
    margin-top: 3% ;
}


.mainpara{
    font-size: xx-large;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin: 5px;
    color: #fff;
    

}

p.boldtext{
    margin-top: 8%;
    font-weight: 900;
}

p.thintext{
    margin-top: 3%;
    font-weight: 100;
    margin-bottom: 10%;
}


.mainlable{
    display: block;
    font-size: x-large;
    text-align: left ;
    margin-left: 10px;
    padding-left: 10px;
    /* padding-top: 30%; */
    margin-top: 15%;
    color: #fff;
}

input{
    display: block;
    text-align: left ;
    padding: 15px 80px 15px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: xx-large;
    outline: none;
    font-weight: 700;
}

button{
    display: block;
    text-align: left;
    margin-top: 10%;
    padding: 15px;
    background-color: #26f5e7;
    border: none;
    border-radius: 5px;
    font-size: larger;
    font-weight: 900;
}



button:hover{
    display: block;
    text-align: left;
    margin-top: 10%;
    padding: 15px;
    background-color: #8cf6ef;
    border: none;
    border-radius: 5px;
    font-size: larger;
    font-weight: 900;

}


.footerpara{
    vertical-align: bottom;
    margin-top: 25%;
    margin-bottom: 5%;
    padding-bottom: 15px;
    color: #fff;
    font-weight: 700;
}

.footerpara a{
    color: #fbf9f9;
}

responsivediv{
    position: relative;
}
.position-image {
    position: absolute;
    bottom: 30px;
    right: 50px;

}
.mainsection-position-image{
    display: none;
}


/* @media screen and (max-width:5000px) {
   


} */

@media screen and (max-width:1150px) and (orientation : Portrait) {
   
    body{
        background-image: url("./img/aurora.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center ;
        height: 100%;
        width: 100%;
    }

    

    mainsection{
        grid-template-columns: 0 1fr 0;
        padding:0 10% 0 10%;
    }

    .hiddendiv{
        display: none;
    }

    .maindiv{
        
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 1150px;
    }
    .emailform{
        display: grid;
        justify-content: center;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-auto-flow: row;

    }
    .mainlable {
        text-align: center;
        font-size: x-large;
        
    }
    /* input{
        text-align: center;
    } */
    button{
        display: block;
        text-align: center;
    }
    button:hover{
        display: block;
        text-align: center;
        margin-top: 10%;
        padding: 15px;
        background-color: #8cf6ef;
        border: none;
        border-radius: 5px;
        font-size: larger;
        font-weight: 900;
    
    }

    

    
   


}

@media screen and (max-width:920px) {

    body{
        background-image: url("./img/aurora.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center ;
        height: 100%;
        width: 100%;
    }

    

    mainsection{
        grid-template-columns: 0 1fr 0;
        padding:0 10% 0 10%;
    }

    .hiddendiv{
        display: none;
    }

    .maindiv{
        
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 920px;
    }
    .emailform{
        display: grid;
        justify-content: center;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-auto-flow: row;

    }
    .mainlable {
        text-align: center;
        font-size: x-large;
        
    }
    /* input{
        text-align: center;
    } */
    button{
        display: block;
        text-align: center;
    }
    button:hover{
        display: block;
        text-align: center;
        margin-top: 10%;
        padding: 15px;
        background-color: #8cf6ef;
        border: none;
        border-radius: 5px;
        font-size: larger;
        font-weight: 900;
    
    }
   

}

@media screen and (max-width:650px) and (orientation : Portrait) {

    body{
        background-image: url("./img/aurora.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center ;
        height: 100%;
        width: 100%;
    }

    

    .mainsection{
        grid-template-columns: 0 1fr 0;
        /* padding:10px; */
    }

    .hiddendiv{
        display: none;
    }

    .maindiv{
        
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 650px;
    }
    .emailform{
        display: grid;
        justify-content: center;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-auto-flow: row;

    }
    .mainlable {
        text-align: center;
        font-size: x-large;
        
    }
    /* input{
        text-align: center;
    } */
    button{
        display: block;
        text-align: center;
    }
    button:hover{
        display: block;
        text-align: center;
        margin-top: 10%;
        padding: 15px;
        background-color: #8cf6ef;
        border: none;
        border-radius: 5px;
        font-size: larger;
        font-weight: 900;
    
    }


}









@media screen and (orientation : Landscape) and (max-width:1150px) {
    
    body{
        background-image: url("./img/aurora.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center ;
        height: 100%;
        width: 100%w;
    }

    

    mainsection{
        grid-template-columns: 0 1fr 0;
        padding:0 10% 0 10%;
    }

    /* .hiddendiv{
        display: none;
    } */

    .maindiv{
        
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 1300px;
    }
    .emailform{
        display: grid;
        justify-content: center;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-auto-flow: row;

    }
    .mainlable {
        text-align: center;
        font-size: x-large;
        
    }
    /* input{
        text-align: center;
    } */
    button{
        display: block;
        text-align: center;
    }
    button:hover{
        display: block;
        text-align: center;
        margin-top: 10%;
        padding: 15px;
        background-color: #8cf6ef;
        border: none;
        border-radius: 5px;
        font-size: larger;
        font-weight: 900;
    
    }



   /* .position-image{
    display: none;
   } */
    .position-image {
        display: none;
        
    
    }

}

@media screen and (orientation : Landscape) and (max-width:900px) {
    body{
        background-image: url("./img/aurora.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center ;
        height: 100%;
        width: 100%w;
    }

    

    mainsection{
        grid-template-columns: 0 1fr 0;
        padding:0 10% 0 10%;
    }

    .hiddendiv{
        display: none;
    }

    .maindiv{
        
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 900px;
    }
    .emailform{
        display: grid;
        justify-content: center;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-auto-flow: row;

    }
    .mainlable {
        text-align: center;
        text
    }
    input{
        text-align: center;
    }
    button{
        display: block;
        text-align: center;
    }
    button:hover{
        display: block;
        text-align: center;
        margin-top: 10%;
        padding: 15px;
        background-color: #8cf6ef;
        border: none;
        border-radius: 5px;
        font-size: larger;
        font-weight: 900;
    
    }



   .position-image{
    display: none;
   }
}



@media screen and (orientation : Landscape) and (max-width:650px) {
    body{
        background-image: url("./img/aurora.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center ;
        height: 100%;
        width: 100%w;
    }

    

    mainsection{
        grid-template-columns: 0 1fr 0;
        padding:0 10% 0 10%;
    }

    .hiddendiv{
        display: none;
    }

    .maindiv{
        
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 650px;
    }
    .emailform{
        display: grid;
        justify-content: center;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-auto-flow: row;

    }
    .mainlable {
        text-align: center;
        text
    }
    input{
        text-align: center;
    }
    button{
        display: block;
        text-align: center;
    }
    button:hover{
        display: block;
        text-align: center;
        margin-top: 10%;
        padding: 15px;
        background-color: #8cf6ef;
        border: none;
        border-radius: 5px;
        font-size: larger;
        font-weight: 900;
    
    }



   .position-image{
    display: none;
   }
}








